*{
    box-sizing: border-box;
}
.parent{
    width: 800px;
    height: 800px;
    border: 1px solid;
    margin: 200px auto 0;
}
.right{
    flex-basis: 600px ;
    height: 600px;
    background: greenyellow;
}
.left, .bottom{
    flex-basis: 200px;
    height: 200px;
    min-width: 200px ;
}
.d-flex{
    display: flex;
}
.fl-dir-row{
    flex-direction: row;
}
.jc-fl-st{
    justify-content: flex-start;
}
.jc-fl-end{
    justify-content: flex-end;
}
.al-it-fl-st{
    align-items: flex-start;
}.al-it-fl-end{
    align-items: flex-end;
}
 .mg-10px{
     margin: 10px;
 }
 .bd-1px-solid{
     border: 1px solid;
 }
 .bg-red{
     background: red;
 }
.bg-bl{
    background: blue;
}










